//cover w/ skrollr values (for example data-100 for styles at 100 pixels scroled)
.logocon(data-0='height: 100vh; opacity: 1', data-99='height: 10vh; opacity: .85', data-100='height: 50px')
    .logo(data-0='font-size: 150px', data-100='font-size: 32px') cave
.hint(data-0='bottom: 10vh', data-100='bottom: -25px') scroll down

//page contents below
.content
  | Yeah, this was wave before, but I don't care! Since it is now shrinking into a header instead of just flying away, it's now called cave. Also, the colors go the other way around... I bet you didn't notice that!
