@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
* {
  box-sizing: border-box;
}

body {
  font-weight: normal;
  font-family: 'Roboto', Helvetica Neue, Sans-Serif;
  background: url(http://i.imgur.com/gjLaLl3.jpg) no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  max-height: 4em;
  background-color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: swing;
          transition-timing-function: swing;
  position: fixed;
  overflow: hidden;
}
nav.open {
  max-height: 700px;
  -webkit-transition: max-height 0.5s ease-in;
          transition: max-height 0.5s ease-in;
}
nav h2 {
  color: #252525;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  font-size: 1.5em;
  font-weight: 300;
  text-align: right;
  line-height: 2.75em;
  margin-right: 2em;
}
@media (max-width: 768px) {
  nav h2 span {
    display: none;
  }
}
nav ul li {
  list-style: none;
  padding: 1em 2em 1em 1.5em;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
nav ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  color: #252525;
  font-weight: normal;
}
nav ul li:hover {
  background: #b3e5fc;
}
nav ul li:hover a {
  text-decoration: none;
}
nav ul li:active {
  background: #82d4fa;
}
nav ul li:last-child {
  margin-bottom: 1em;
}

.navToggle {
  position: absolute;
  width: 60px;
  height: 120px;
  top: -30px;
  left: 32px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.navToggle .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 30px;
  top: 60px;
  background-color: #252525;
}
.navToggle .icon:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #252525;
  content: "";
  top: -10px;
}
.navToggle .icon:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #252525;
  content: "";
  top: 10px;
}
.navToggle .icon:hover {
  cursor: pointer;
}
.navToggle.open .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}
.navToggle.open .icon:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6px);
          transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6px);
}
.navToggle.open .icon:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
          transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
}

.content {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 20em;
  font-weight: 300;
  margin: auto;
  text-align: center;
  color: #f7f7f7;
}
@media (max-width: 768px) {
  h1 {
    font-size: 15em;
  }
}
@media (max-height: 400px) {
  h1 {
    font-size: 15em;
  }
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
}
a:hover {
  opacity: 0.8;
}
a:active {
  top: 1px;
}

footer {
  height: 64px;
  width: 100%;
  font: 1em;
  text-align: center;
  background-color: #fff;
  color: #a9a9a9;
}
footer a {
  color: #FE4B74;
  text-decoration: none;
  line-height: 64px;
}
