@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//cdn.jsdelivr.net/hint.css/1.3.2/hint.min.css);

// Common
// ----------------------------------------
*, *:before, *:after {
  box-sizing: inherit;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

.container {
  width: 620px;
  margin: 0 auto;
  padding-top: 50px;
}

// Searchbox
// ----------------------------------------
.searchbox {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #cc3300;
  box-sizing: border-box;
  .placeholder {
  	color: #999;
	}
  .cf {
    &:before, 
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    *zoom: 1;
  }  
}

// Tabs
// ----------------------------------------
.searchbox-tab {
  background-color: white;
  & > li {
    display: block;
    float: left;
    & > a {
      display: block;
      padding: 15px 25px;
      color: #cc3300;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #dedede;
      transition: background-color 0.2s, color 0.2s;
      &.active, &:hover {
        background-color: #cc3300;
        color: white;
      }
    }
    .searchbox-promo {
      display: block;
      width: 160px;
      padding: 11px 0 0 15px;
      font-size: 11px;
      font-style: italic;
      color: #cc3300;
    }
  }
}

// Pannels
// ----------------------------------------
.searchbox-panel {
  padding: 25px;
}
.searchbox-panel-fdc {
  display: none;
}

// Fields row wrapper
// ----------------------------------------
.searchbox-row {
  margin-bottom: 13px;
  hr {
    margin: 0;
    border: 0;
    border: 1px dashed #DA704C;
    width: 580px;
  }
}
.searchbox-row-transac-filter {
  display: none;
}
.searchbox-row-subactivity {
  display: none;
  p {
    color: white;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

// Help tip icon
// ----------------------------------------
.searchbox-tip {
  margin: 0 3px;
  opacity: 0.7;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

// Fields wrapper
// ----------------------------------------
.searchbox-field-wrapper {
  position: relative;
  float: left;
  margin-right: 5px;
}
.searchbox-input {
  @extend .searchbox-field-wrapper;
  background-color: white;
  box-shadow: 0px 1px 4px 1px #999 inset;
}
.searchbox-select {
  @extend .searchbox-field-wrapper;
  background-color: white;
  box-shadow: 0px 1px 4px 1px #999 inset;
  overflow: hidden;
}
.searchbox-radio {
  @extend .searchbox-field-wrapper;
}
.searchbox-checkbox {
  @extend .searchbox-field-wrapper;
}
.searchbox-button {
  @extend .searchbox-field-wrapper;
  margin-left: -5px;
}
.searchbox-radio {
  margin-right: 15px;
  line-height: 21px;
  cursor: pointer;
  label {
    font-size: 12px;
    color: white;
    cursor: pointer;
  }
}
.borderradius.opacity .searchbox-radio {
  &:hover .inner {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  input {
    width: 1px;
    height: 1px;
    opacity: 0;
    &:checked + .outer .inner {
      transform: scale(1, 1);
      background-color: #44A437;
      opacity: 1;
    }
    &:focus + .outer .inner {
      transform: scale(1, 1);
      opacity: 1;
      background-color: #44A437;
    }
  }
  .outer {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    background-color: #fff;
    user-select: none;
  }
  .inner {
    width: 12px;
    height: 12px;
    transform: scale(0, 0);
    display: block;
    margin: 4px;
    border-radius: 50%;
    background-color: #DEB2A3;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: translate3d(0, 0, 0);
    will-change: transform, opacity;
    user-select: none;
  }
}
.searchbox-checkbox {
  margin-right: 15px;
  line-height: 21px;
  cursor: pointer;
  label {
    font-size: 12px;
    color: white;
    cursor: pointer;
  }
  .searchbox-icon {
    display: none;
  }
}
.opacity.csstransforms .searchbox-checkbox {
  input {
    width: 1px;
    height: 1px;
    opacity: 0;
    &:checked + .outer .inner {
      transform: scale(1, 1);
      opacity: 1;
    }
    &:not(:checked) + .outer .inner {
      transform: scale(0, 0);
    }
  }
  .outer {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: #fff;
    user-select: none;
  }
  .inner {
    width: 12px;
    height: 12px;
    transform: scale(0, 0);
    display: block;
    margin: 2px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: translate3d(0, 0, 0);
    will-change: transform, opacity;
    user-select: none;
    .searchbox-icon {
      display: inline-block;
      color: #44A437;
      font-size: 16px;
    }
  }
}

// Fields
// ----------------------------------------
.searchbox-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
  width: 100%;
  height: 43px;
  background-color: transparent;
}
.searchbox-input input {
  @extend .searchbox-field;
  padding: 10px;
  font-family: inherit;
  font-size: 13px;
}
.searchbox-select select {
  @extend .searchbox-field;
  padding: 10px;
  font-family: inherit;
  font-size: 13px;
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
.searchbox-button button {
  @extend .searchbox-field;
}
.searchbox-input .searchbox-icon,
.searchbox-select .searchbox-icon {
  position: absolute;
}
.searchbox-button button {
  background: #333;
  color: white;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: black;
  }
}

// Type field
// ----------------------------------------
.searchbox-select-type {
  width: 330px;
  select {
    width: 360px;
  }
  .searchbox-icon {
    right: 15px;
    top: 14px;
    color: #999;
  }
}

// Area field
// ----------------------------------------
.searchbox-input-area {
  width: 110px;
}

// Location field
// ----------------------------------------
.searchbox-input-location {
  width: 445px;
  input {
    padding-left: 40px;
  }
  .searchbox-icon {
    top: 8px;
    left: 12px;
    font-size: 27px;
    color: #cc3300;
  }
}

// Search button
// ----------------------------------------
.searchbox-submit {
  width: 115px;
}

// Intro text
// ----------------------------------------
.searchbox-intro {
  color: white;
  font-style: italic;
  font-size: 14px;
  padding: 5px 0 4px;
}

// Activity field
// ----------------------------------------
.searchbox-select-activity {
  width: 560px;
  label {
    position: absolute;
    height: 43px;
    padding: 15px 15px;
    color: #333;
    font-size: 13px;
  }
  select {
    width: 455px;
    margin-left: 135px;
  }
  .searchbox-icon {
    right: 15px;
    top: 14px;
    color: #999;
  }
}