@import url(http://fonts.googleapis.com/css?family=Quicksand);
body {
  margin: 0;
  padding: 0;
  background: #e6e6e6;
  font-family: Quicksand, sans-serif;
}

#arlina {
  margin: 5% auto;
  width: 100%;
  max-width: 920px;
  box-shadow: 0 0 0 20px rgba(0,0,0,0.03);
}

#header {
  height: 200px;
  margin: 0;
  background: #fdfdfd;
}

#header h1 {
  display: table;
  color: #999;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 50px 50px 0 50px;
  font-size: 55px;
}

#header p {
  display: table;
  color: #999;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 20px;
}

#menu {
  position: relative;
  height: 60px;
  margin: 0;
  background: #444;
}

#menu:before {
  position: absolute;
  content: '';
  display: inline-block;
  left: 0;
  top: 0;
  height: 60px;
  width: 80px;
  margin: 0;
  text-align: center;
  background: #14BEEA;
}

#menu:after {
  position: absolute;
  content: '\f015';
  display: inline-block;
  font-family: FontAwesome;
  left: 0;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 80px;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

#content {
  position: relative;
  width: 100%;
  height: 1850px;
  margin: 0;
  background: #fff;
  padding: 20px 0;
}

#main {
  position: relative;
  float: left;
  width: 70%;
  background: #fff;
}

#box {
  position: relative;
  width: 93.5%;
  height: 150px;
  display: block;
  background: #f6f6f6;
  margin: 0 20px 20px 20px;
}

#box:before {
  position: absolute;
  content: '';
  display: inline-block;
  left: 0;
  top: 0;
  height: 150px;
  width: 200px;
  margin: 0;
  background: #e6e6e6;
}

#box:after {
  position: absolute;
  content: '\f1cb';
  font-family: FontAwesome;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  height: 150px;
  line-height: 150px;
  width: 200px;
  margin: 0;
  color: #bbb;
  font-size: 50px;
}

#side {
  background: #fff;
  width: 30%;
  float: right;
  position: relative;
  margin: 0;
  padding: 0;
}

#sidecontent {
  width: 255px;
  height: 200px;
  margin: auto;
  background: #14BEEA;
  position: absolute;
}

#sidecontent span {
  display: table;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 20px 0;
  font-size: 25px;
}

#sidecontent2 {
  width: 255px;
  height: 200px;
  margin: 0 20px 20px auto;
  background: #999;
  position: relative;
}

#sidecontent2 span {
  display: table;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 20px 0;
  font-size: 25px;
}

#footer {
  height: 200px;
  clear: both;
  background: #444;
}

#credit {
  height: 60px;
  margin: 0;
  background: #fff;
}

#credit span {
  display: table;
  color: #999;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  margin: auto;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

#sidecontent.fixed {
  position: fixed;
  top: 20px;
}
/* Back to top */

.back-to-top {
  visibility: hidden;
  background-color: #444;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transition: all .6s
}

.back-to-top .fa {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
}

.back-to-top:hover {
  background-color: #fc4f3f;
  opacity: 1
}

.back-to-top.show {
  visibility: visible;
  bottom: 35px;
  opacity: 1;
}