@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.fullheight {
  height : 100%;
}
html, body {
  @extend .fullheight;
}
#slides {
  @extend .fullheight;
  > .slide {
    b {
      font-weight : bold;
    }
    > sub {
      width : 100%;
      display : block;
      font-family: 'Roboto', sans-serif;
      font-weight:400;
      font-size : 1.2em;
      margin-top : 1em;
      transform : translateY(-100%);
      -webkit-transform: translateY(-100%);
      opacity : 0;
    }
    > sub, > h1 {
      text-align : center;
      transition : all linear .5s;
    }
    > h1 {
      font-size : 5em;
      //padding-top : calc(50vh - 2.5em);
      padding-top : 2em;
      text-transform : uppercase;
      font-family: 'Ubuntu', sans-serif;
      transform : translateY(10%);
      -webkit-transform: translateY(10%);
      opacity : 0;
    }
    @extend .fullheight;
    $colors-list: #e78128 #f39c12 #8e44ad #27ae60 #d35400 #e74c3c #34495e #bdc3c7 #2ecc71 #c0392b;
    @each $current-color in $colors-list {
      $i: index($colors-list, $current-color);
      &:nth-child(#{$i}) { 
        background : $current-color;
        color : darken($current-color, 30%);
        > sub {
          color : darken($current-color, 20%);
        }
      }
   }
    &.active {
      > h1, > sub {
        opacity : 1;
        transform : translateY(0);
        -webkit-transform: translateY(0);
      }
    }
  }
}