@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//cdn.jsdelivr.net/hint.css/1.3.2/hint.min.css);
*, *:before, *:after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.container {
  width: 620px;
  margin: 0 auto;
  padding-top: 50px;
}

.searchbox {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #cc3300;
  box-sizing: border-box;
}
.searchbox .placeholder {
  color: #999;
}
.searchbox .cf {
  *zoom: 1;
}
.searchbox .cf:before, .searchbox .cf:after {
  content: " ";
  display: table;
}
.searchbox .cf:after {
  clear: both;
}

.searchbox-tab {
  background-color: white;
}
.searchbox-tab > li {
  display: block;
  float: left;
}
.searchbox-tab > li > a {
  display: block;
  padding: 15px 25px;
  color: #cc3300;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #dedede;
  -webkit-transition: background-color 0.2s, color 0.2s;
          transition: background-color 0.2s, color 0.2s;
}
.searchbox-tab > li > a.active, .searchbox-tab > li > a:hover {
  background-color: #cc3300;
  color: white;
}
.searchbox-tab > li .searchbox-promo {
  display: block;
  width: 160px;
  padding: 11px 0 0 15px;
  font-size: 11px;
  font-style: italic;
  color: #cc3300;
}

.searchbox-panel {
  padding: 25px;
}

.searchbox-panel-fdc {
  display: none;
}

.searchbox-row {
  margin-bottom: 13px;
}
.searchbox-row hr {
  margin: 0;
  border: 0;
  border: 1px dashed #DA704C;
  width: 580px;
}

.searchbox-row-transac-filter {
  display: none;
}

.searchbox-row-subactivity {
  display: none;
}
.searchbox-row-subactivity p {
  color: white;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.searchbox-tip {
  margin: 0 3px;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
}
.searchbox-tip:hover {
  opacity: 1;
}

.searchbox-field-wrapper, .searchbox-input, .searchbox-select, .searchbox-radio, .searchbox-checkbox, .searchbox-button {
  position: relative;
  float: left;
  margin-right: 5px;
}

.searchbox-input {
  background-color: white;
  box-shadow: 0px 1px 4px 1px #999 inset;
}

.searchbox-select {
  background-color: white;
  box-shadow: 0px 1px 4px 1px #999 inset;
  overflow: hidden;
}

.searchbox-button {
  margin-left: -5px;
}

.searchbox-radio {
  margin-right: 15px;
  line-height: 21px;
  cursor: pointer;
}
.searchbox-radio label {
  font-size: 12px;
  color: white;
  cursor: pointer;
}

.borderradius.opacity .searchbox-radio:hover .inner {
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
  opacity: 0.5;
}
.borderradius.opacity .searchbox-radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.borderradius.opacity .searchbox-radio input:checked + .outer .inner {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  background-color: #44A437;
  opacity: 1;
}
.borderradius.opacity .searchbox-radio input:focus + .outer .inner {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  background-color: #44A437;
}
.borderradius.opacity .searchbox-radio .outer {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 50%;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.borderradius.opacity .searchbox-radio .inner {
  width: 12px;
  height: 12px;
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  display: block;
  margin: 4px;
  border-radius: 50%;
  background-color: #DEB2A3;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.searchbox-checkbox {
  margin-right: 15px;
  line-height: 21px;
  cursor: pointer;
}
.searchbox-checkbox label {
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.searchbox-checkbox .searchbox-icon {
  display: none;
}

.opacity.csstransforms .searchbox-checkbox input {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.opacity.csstransforms .searchbox-checkbox input:checked + .outer .inner {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}
.opacity.csstransforms .searchbox-checkbox input:not(:checked) + .outer .inner {
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
}
.opacity.csstransforms .searchbox-checkbox .outer {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.opacity.csstransforms .searchbox-checkbox .inner {
  width: 12px;
  height: 12px;
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  display: block;
  margin: 2px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.opacity.csstransforms .searchbox-checkbox .inner .searchbox-icon {
  display: inline-block;
  color: #44A437;
  font-size: 16px;
}

.searchbox-field, .searchbox-input input, .searchbox-select select, .searchbox-button button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
  width: 100%;
  height: 43px;
  background-color: transparent;
}

.searchbox-input input {
  padding: 10px;
  font-family: inherit;
  font-size: 13px;
}

.searchbox-select select {
  padding: 10px;
  font-family: inherit;
  font-size: 13px;
}
.searchbox-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.searchbox-input .searchbox-icon,
.searchbox-select .searchbox-icon {
  position: absolute;
}

.searchbox-button button {
  background: #333;
  color: white;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}
.searchbox-button button:hover {
  background-color: black;
}

.searchbox-select-type {
  width: 330px;
}
.searchbox-select-type select {
  width: 360px;
}
.searchbox-select-type .searchbox-icon {
  right: 15px;
  top: 14px;
  color: #999;
}

.searchbox-input-area {
  width: 110px;
}

.searchbox-input-location {
  width: 445px;
}
.searchbox-input-location input {
  padding-left: 40px;
}
.searchbox-input-location .searchbox-icon {
  top: 8px;
  left: 12px;
  font-size: 27px;
  color: #cc3300;
}

.searchbox-submit {
  width: 115px;
}

.searchbox-intro {
  color: white;
  font-style: italic;
  font-size: 14px;
  padding: 5px 0 4px;
}

.searchbox-select-activity {
  width: 560px;
}
.searchbox-select-activity label {
  position: absolute;
  height: 43px;
  padding: 15px 15px;
  color: #333;
  font-size: 13px;
}
.searchbox-select-activity select {
  width: 455px;
  margin-left: 135px;
}
.searchbox-select-activity .searchbox-icon {
  right: 15px;
  top: 14px;
  color: #999;
}
