body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #555;
}

a {
  color: #CCC;
}

.typed-wrapper {
  display: flex;
}

button {
  position: relative;
  width: 110px;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: #FFF;
  text-transform: uppercase;
  background: #d83c3c;
  border-radius: 0 3px 3px 0;
  font: bold 15px/40px 'Lucida sans', 'trebuchet MS', 'Tahoma';
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);

  &:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
  }

  &:hover { background: #e54040; }
  &:hover:before { border-right-color: #e54040; }
  &:focus:before { border-right-color: #c42f2f; }
  &:active, &:focus { background: #c42f2f; }
}

.typed-container {
  padding: 0 10px;
  width: 300px;
  background: white;
  border-radius: 3px 0 0 3px;
  overflow-x: scroll;
}

.typed-input {
  font-family: 'Lucida sans', 'trebuchet MS', 'Tahoma';
  font-size: 15px;
  line-height: 40px;
  white-space: nowrap;
}

.typed-cursor {
  font-family: 'Lucida sans', 'trebuchet MS', 'Tahoma';
  font-size: 18px;
  line-height: 40px;
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.code {
  font-style: italic;
}
