// cover w/ skrollr values (for example data-100 for styles at 100 pixels scroled)
//- .logocon(data-0p='opacity: 1; display: flex', data-99p='opacity: 0.2; display: none', data-100p='display: none')
.logocon(data-0p='display: flex', data-100p='display: none')
  .logo(data-0p='top: 30vh;', data-300='top: -30vh;') Stratege.ms

.hint(data-0='bottom: 10vh', data-300='bottom: -25px') scroll down

// page contents below
.menu
  | Stratege.ms

.content(style="background-color: goldenrod")
  | Another take on the landing page cover:
  a(href="http://codepen.io/Ovoce/pen/buIeE" target="_blank") cave
  |  Now with another stupid name...
