doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Simple landing page cover
    base(href="/")

    link(rel='stylesheet',type='text/css',href='http://fonts.googleapis.com/css?family=Comfortaa:400,300')
    link(rel='stylesheet',type='text/css',href='http://fonts.googleapis.com/css?family=Ubuntu')

    link(rel='stylesheet',type='text/css',href='assets/normalize.css')
    link(rel='stylesheet',type='text/css',href='app.css')
    //- script(src='assets/prefixfree.min.js')

  body

    include content.jade

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.26/skrollr.min.js')
    script(src='app.js')
