#slides
  .slide
    %h1 Quotes
    %sub Something to fill
  .slide
    %h1 Everything is borrowed
    %sub Even your soul
  .slide
    %h1 What did you do today?
    %sub for tomorrow
  .slide
    %h1 If you can dream it, you can do it.
    %sub Walt Disney
  .slide
    %h1  You were almost there. 
    %sub Almost free from what you fear. You could have been cured, you could have forgotten!
    %sub
      %b Dollmaker
  .slide
    %h1 Do everything you can.
    %sub And no one will judge you.
  .slide
    %h1 What would you told to yourself 
    %sub if you would know that you will die tomorrow
    
    
    
