@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);

$dark: #252525;
$light: #efefef;
$color: #b3e5fc;

* {box-sizing: border-box;}

body {
  font-weight: normal;
  font-family: 'Roboto', Helvetica Neue, Sans-Serif;
  background: url(http://i.imgur.com/gjLaLl3.jpg) no-repeat;
  background-size: cover;
}

@mixin navToggle($left, $top) {
  position: absolute;
  width: 60px;
  height: 120px;
  top: $top;
  left: $left;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 60px;
  background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

nav{
  width: 100%;
  max-height: 4em;
  background-color: white;
  transition-duration: 0.5s;
  transition-timing-function: swing;
  position: fixed;
  overflow: hidden;
  
  &.open{
    max-height: 700px;
    transition: max-height 0.5s ease-in;
  }
  
  h2 {
    color: $dark;
    transition: 0.5s;
    font-size: 1.5em;
    font-weight: 300;
    text-align: right;
    line-height: 2.75em;
    margin-right: 2em;
    @media (max-width: 768px){
      span {display: none;}
    }
  }
  
  ul {
    li{
      list-style: none;
      padding: 1em 2em 1em 1.5em;
      transition: all 0.5s;
      
      a {
        display: inline-block;
        text-decoration: none;
        font-size: 1em;
        color: $dark;
        font-weight: normal;
      }
      
      &:hover {
        background: $color;
        
        a {
          text-decoration: none;
        }
      }
      &:active {
        background: darken($color, 10%);
      }
      &:last-child {
        margin-bottom: 1em;
      }
    }
  }
}

.navToggle{
  @include navToggle(32px, -30px);
  
  .icon {
    @include icon(4px, 30px);
    
    &:before{
      @include icon-before(4px, 30px, -10px);
    }
    
    &:after{
      @include icon-after(4px, 30px, 10px);
    }
    
    &:hover{
      cursor: pointer;
    }
  }
  
  &.open {
    .icon {
      transition-duration: 0.5s;
      background: transparent;
      
      &:before{
        transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
      }
    }
  }
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  background: rgba(255,255,255, 0.6);
}

.content {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 20em;
  font-weight: 300;
  margin: auto;
  text-align: center;
  color: #f7f7f7;
  @media (max-width: 768px){
    font-size: 15em;
  }
  @media (max-height: 400px){
    font-size: 15em;
  }
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
  
  &:hover{ 
    opacity: 0.8;
  }
  
  &:active {
    top: 1px;
  }
}

footer {
  height: 64px;
  width: 100%;
  font: 1em;
  text-align: center;
  background-color: #fff;
  color: #a9a9a9;
  a {
    color: #FE4B74;
    text-decoration: none;
    line-height: 64px;
  }
}