body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  min-height: 100vh;

  background-size: cover;
  background: url(bg.png), -webkit-radial-gradient(center, ellipse cover, #45b1c4 0%, #2f9fb7 100%);
  background: url(bg.png), moz-radial-gradient(center, ellipse cover, #45b1c4 0%, #2f9fb7 100%);
  background: url(bg.png), -o-radial-gradient(center, ellipse cover, #45b1c4 0%, #2f9fb7 100%);
  background: url(bg.png), radial-gradient(center, ellipse cover, #45b1c4 0%, #2f9fb7 100%);

  color: white;
}
