body {
  background: #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=);
  font: 13px 'Lucida sans', Arial, Helvetica;
  color: #eee;
  text-align: center;
}

a {
  color: #ccc;
}

.cf {
  zoom:1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.form-wrapper {
  width: 450px;
  padding: 15px;
  margin: 250px auto 50px auto;
  background: red;
  background: rgba(0,0,0,.2);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);

  input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;

    &:focus {
      outline: 0;
      background: #fff;
      box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
    }
  }

  button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);

    &:hover {
      background: #e54040;
    }

    &:before {
      content: '';
      position: absolute;
      border-width: 8px 8px 8px 0;
      border-style: solid solid solid none;
      border-color: transparent #d83c3c transparent;
      top: 12px;
      left: -6px;
    }

    &:hover:before {
      border-right-color: #e54040;
    }

    &:focus:before {
      border-right-color: #c42f2f;
    }

  }

  button:active, button:focus {
    background: #c42f2f;
  }
}


#typed {
}


.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.code {
  font-style: italic;
}
