@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
.fullheight, html, body, #slides, #slides > .slide {
  height: 100%;
}

#slides > .slide b {
  font-weight: bold;
}
#slides > .slide > sub {
  width: 100%;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 1em;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  opacity: 0;
}
#slides > .slide > sub, #slides > .slide > h1 {
  text-align: center;
  transition: all linear .5s;
}
#slides > .slide > h1 {
  font-size: 5em;
  padding-top: 2em;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  transform: translateY(10%);
  -webkit-transform: translateY(10%);
  opacity: 0;
}
#slides > .slide:nth-child(1) {
  background: #e78128;
  color: #6a380c;
}
#slides > .slide:nth-child(1) > sub {
  color: #985011;
}
#slides > .slide:nth-child(2) {
  background: #f39c12;
  color: #674105;
}
#slides > .slide:nth-child(2) > sub {
  color: #976008;
}
#slides > .slide:nth-child(3) {
  background: #8e44ad;
  color: #34193f;
}
#slides > .slide:nth-child(3) > sub {
  color: #522764;
}
#slides > .slide:nth-child(4) {
  background: #27ae60;
  color: #0b311b;
}
#slides > .slide:nth-child(4) > sub {
  color: #145b32;
}
#slides > .slide:nth-child(5) {
  background: #d35400;
  color: #3a1700;
}
#slides > .slide:nth-child(5) > sub {
  color: #6d2b00;
}
#slides > .slide:nth-child(6) {
  background: #e74c3c;
  color: #7b190f;
}
#slides > .slide:nth-child(6) > sub {
  color: #a82315;
}
#slides > .slide:nth-child(7) {
  background: #34495e;
  color: black;
}
#slides > .slide:nth-child(7) > sub {
  color: #10161c;
}
#slides > .slide:nth-child(8) {
  background: #bdc3c7;
  color: #6c777f;
}
#slides > .slide:nth-child(8) > sub {
  color: #869198;
}
#slides > .slide:nth-child(9) {
  background: #2ecc71;
  color: #124f2c;
}
#slides > .slide:nth-child(9) > sub {
  color: #1b7943;
}
#slides > .slide:nth-child(10) {
  background: #c0392b;
  color: #43140f;
}
#slides > .slide:nth-child(10) > sub {
  color: #6d2018;
}
#slides > .slide.active > h1, #slides > .slide.active > sub {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
