// @import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Roboto)
@import url(http://fonts.googleapis.com/css?family=Ubuntu)

.fullheight
  height: 100vh

html, body
  @extend .fullheight

#slides
  @extend .fullheight

.slide
  @extend .fullheight
  position: relative
  // transform: translate3d(0,0,0)
  // backface-visibility: hidden

  sub, h1
    position: relative
    z-index: 2
    text-align: center
    transition: all linear .5s

  sub
    width: 100%
    display: block
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 1.2em
    margin-top: 1em
    transform: translateY(-100%)
    -webkit-transform: translateY(-100%)
    opacity: 0

  h1
    font-size: 5em
    //padding-top : calc(50vh - 2.5em);
    padding-top: 2em
    text-transform: uppercase
    font-family: 'Ubuntu', sans-serif
    transform: translateY(10%)
    -webkit-transform: translateY(10%)
    opacity: 0

.slide.active
  h1, sub
    opacity: 1
    transform: translateY(0)
    -webkit-transform: translateY(0)

.slide:after
  content: ''
  display: block
  z-index: 1
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh

$colors-list: #e78128 #f39c12 #8e44ad #27ae60 #d35400 #e74c3c #34495e #bdc3c7 #2ecc71 #c0392b

@each $current-color in $colors-list
  $i: index($colors-list, $current-color)

  .slide:nth-child(#{$i})
    background: $current-color
    color: darken($current-color, 30%)
    text-shadow: 0 1px 1px black

    &:after
      background-image: url(http://lorempixel.com/1920/1280/people/#{$i}/)
      background-size: cover
      background-repeat: no-repeat
      background-position: top left
      background-attachment: fixed

    sub
      color: darken($current-color, 20%)
